<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.lzf.easyfloat.example">

    <!--系统悬浮窗权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--手机震动权限（EasyFloat不需要）-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppThemeNoActionBar"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".activity.MainActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="standard"
                android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SecondActivity" />
        <activity android:name=".activity.JavaTestActivity" />
        <activity android:name=".activity.SwipeTestActivity" />
        <activity android:name=".activity.BorderTestActivity" />

    </application>

</manifest>